In [1]:
import pandas as pd

In [12]:
df_wiki=pd.read_csv('gaming_wikipedia.csv')

In [13]:
df_wiki=df_wiki.dropna(subset=['description_wiki'])
df_wiki.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12109 entries, 0 to 12222
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              12109 non-null  int64
 1   Name              12109 non-null  object
 2   Platform          12109 non-null  object
 3   Year              11916 non-null  float64
 4   Genre             12109 non-null  object
 5   Publisher         12075 non-null  object
 6   NA_Sales          12109 non-null  float64
 7   EU_Sales          12109 non-null  float64
 8   JP_Sales          12109 non-null  float64
 9   Other_Sales       12109 non-null  float64
 10  Global_Sales      12109 non-null  float64
 11  description_wiki  12109 non-null  object
dtypes: float64(6), int64(1), object(5)
memory usage: 1.2+ MB

In [14]:
df_wiki2=pd.read_csv('gaming_wikipedia2.csv')

In [15]:
df_wiki2=df_wiki2.dropna(subset=['description_wiki'])
df_wiki2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4364 entries, 0 to 4374
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              4364 non-null   int64
 1   Name              4364 non-null   object
 2   Platform          4364 non-null   object
 3   Year              4286 non-null   float64
 4   Genre             4364 non-null   object
 5   Publisher         4340 non-null   object
 6   NA_Sales          4364 non-null   float64
 7   EU_Sales          4364 non-null   float64
 8   JP_Sales          4364 non-null   float64
 9   Other_Sales       4364 non-null   float64
 10  Global_Sales      4364 non-null   float64
 11  description_wiki  4364 non-null   object
dtypes: float64(6), int64(1), object(5)
memory usage: 443.2+ KB

In [17]:
df_wiki.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,description_wiki
12218,12220,Gundam Try Age SP,3DS,2014.0,Strategy,Namco Bandai Games,0.00,0.00,0.07,0.00,0.07,no_data
12219,12221,Top Gun,PS3,2011.0,Simulation,505 Games,0.06,0.00,0.00,0.01,0.07,"Afsløringer af handling, afslutning og/eller p..."
12220,12222,Gunstar Super Heroes,GBA,2005.0,Shooter,Sega,0.05,0.02,0.00,0.00,0.07,no_data
12221,12223,Insecticide,DS,2008.0,Action,Gamecock,0.06,0.00,0.00,0.00,0.07,no_data
12222,12224,C: The Contra Adventure,PS,1998.0,Shooter,Konami Digital Entertainment,0.04,0.02,0.00,0.00,0.07,no_data

In [18]:
df_wiki2.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,description_wiki
0,12225,Interactive Storybook DS Series 1,DS,2007.0,Misc,Tommo,0.06,0.00,0.00,0.00,0.07,no_data
1,12226,Frogger Advance: The Great Quest,GBA,2002.0,Action,Konami Digital Entertainment,0.05,0.02,0.00,0.00,0.07,no_data
2,12227,Worms Forts: Under Siege,XB,2004.0,Strategy,Sega,0.05,0.01,0.00,0.00,0.07,no_data
3,12228,Dream C Club,X360,2009.0,Simulation,D3Publisher,0.00,0.00,0.07,0.00,0.07,no_data
4,12229,Pro Evolution Soccer 2015,PC,2014.0,Sports,Konami Digital Entertainment,0.00,0.06,0.00,0.01,0.07,Pro Evolution Soccer 2015\nDéveloppeur\nKonami...

In [19]:
df_wiki_new=pd.concat([df_wiki, df_wiki2])
df_wiki_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16473 entries, 0 to 4374
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              16473 non-null  int64
 1   Name              16473 non-null  object
 2   Platform          16473 non-null  object
 3   Year              16202 non-null  float64
 4   Genre             16473 non-null  object
 5   Publisher         16415 non-null  object
 6   NA_Sales          16473 non-null  float64
 7   EU_Sales          16473 non-null  float64
 8   JP_Sales          16473 non-null  float64
 9   Other_Sales       16473 non-null  float64
 10  Global_Sales      16473 non-null  float64
 11  description_wiki  16473 non-null  object
dtypes: float64(6), int64(1), object(5)
memory usage: 1.6+ MB

In [ ]:
df_wiki_new.to_csv('gaming_wikipedia_total.csv')