# Création du dataset global

## Importer les librairies

In [1]:
import pandas as pd

### Obtenir l'info complète du DF

In [2]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_colwidth', None)

## Importer les différents DF

In [3]:
df_wiki=pd.read_csv('gaming_wiki_OK.csv', index_col=0)
df_google=pd.read_csv('gaming_goo_OK.csv', index_col=0)
df_JVC=pd.read_csv('gaming_JV_OK.csv', index_col=0)
df_meta=pd.read_csv('df_Metacritic_v1.csv')
df_metagames=pd.read_csv('df_metagames.csv', index_col='Unnamed: 0')

In [4]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16596 entries, 0 to 16597
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                16596 non-null  object
 1   Platform            16596 non-null  object
 2   Year                16326 non-null  float64
 3   Genre               16596 non-null  object
 4   Publisher           16538 non-null  object
 5   NA_Sales            16596 non-null  float64
 6   EU_Sales            16596 non-null  float64
 7   JP_Sales            16596 non-null  float64
 8   Other_Sales         16596 non-null  float64
 9   Global_Sales        16596 non-null  float64
 10  description_google  16582 non-null  object
 11  developpeur_goo     1497 non-null   object
 12  distributeur_goo    14 non-null     object
 13  langue_goo          75 non-null     object
 14  PEGI_goo            503 non-null    object
 15  game_series_goo     523 non-null    object
 16  game_mode_goo       844 non-null    object
dtypes: float64(6), object(11)
memory usage: 2.3+ MB

In [5]:
df_JVC=df_JVC.drop(['Rank', 'description_JVC'], axis=1)
df_JVC.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,test_note_JVC,avis_count_JVC,avis_note_JVC,Classification_Age_JVC,max_joueurs_JVC,Mode_JVC,Support_JVC,Langue_JVC
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,14,(687),13.8,+7 ans\r,Jusqu'à 4 joueurs\r,NaN,DVD\r,Voix en français Textes en français
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,19,(3),19,+3 ans\r,NaN,Jouable en solo\r,eShop Console Virtuelle Cartouche\r,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,16,(3023),17.4,+3 ans\r,"4 joueurs en écran partagé, 12 joueurs online\r",Multi sur le même écran Multi en ligne\r,DVD\r,NaN
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,15,(581),16.5,+3 ans\r,Jusqu'à 4 joueurs\r,NaN,DVD\r,Voix en français Textes en français\r
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,no_data,no_data,no_data,NaN,NaN,NaN,NaN,NaN

In [6]:
df_wiki=df_wiki.drop(['Rank','description_wiki'], axis=1)
df_wiki.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,developpeur_wiki,langue_wiki,PEGI_wiki,game_mode_wiki
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,Nintendo EAD,Multilingue,7+ ?,Un joueur\r\nMultijoueur (de 2 à 4)
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,Nintendo EAD,Multilingue,3+ ?,Local\r\n1 à 4 joueurs\r\nEn ligne (jusqu'au 2...
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,NaN,NaN,NaN,NaN
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN

In [7]:
df_google=df_google.drop(['description_google'], axis=1)
df_google.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,developpeur_goo,distributeur_goo,langue_goo,PEGI_goo,game_series_goo,game_mode_goo
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,"Nintendo, PLUS",NaN,NaN,NaN,NaN,NaN
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,Universal Pictures,Anglais,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,NaN,NaN,NaN,NaN,NaN,NaN
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,"Nintendo, Nintendo Entertainment Analysis & De...",NaN,NaN,NaN,NaN,Multijoueur
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_meta=df_meta.drop(['Rank'], axis=1)
df_meta.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Meta_NP,Meta_VP,Meta_NUsers,Meta_VUsers
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,76.0,51.0,8.1,539.0
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,84.0,14.0,8.4,119.0
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,82.0,73.0,8.5,1167.0
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,80.0,73.0,8.3,346.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN

In [9]:
df_metagames['year']=df_metagames['year'].astype(float)
df_metagames = df_metagames.rename(columns={'year': 'Year'})
df_metagames.info()
df_metagames.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5194 entries, 0 to 5193
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          5194 non-null   object
 1   Platform      5194 non-null   object
 2   summary       5191 non-null   object
 3   meta_score    5194 non-null   int64
 4   user_review   5194 non-null   object
 5   Year          5194 non-null   float64
 6   Rank          5194 non-null   int64
 7   Genre         5194 non-null   object
 8   Publisher     5194 non-null   object
 9   NA_Sales      5194 non-null   float64
 10  EU_Sales      5194 non-null   float64
 11  JP_Sales      5194 non-null   float64
 12  Other_Sales   5194 non-null   float64
 13  Global_Sales  5194 non-null   float64
dtypes: float64(6), int64(2), object(6)
memory usage: 608.7+ KB

,Name,Platform,summary,meta_score,user_review,Year,Rank,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,The Legend of Zelda: Ocarina of Time,N64,"As a young boy, Link is tricked by Ganondorf, ...",99,9.1,1998.0,95,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
1,Tony Hawk's Pro Skater 2,PS,As most major publishers' development efforts ...,98,7.4,2000.0,226,Sports,Activision,3.05,1.41,0.02,0.20,4.68
2,Grand Theft Auto IV,PS3,[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7,2008.0,57,Action,Take-Two Interactive,4.76,3.76,0.44,1.62,10.57
3,SoulCalibur,DC,"This is a tale of souls and swords, transcendi...",98,8.4,1999.0,5359,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34
4,Grand Theft Auto IV,X360,[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9,2008.0,52,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02

## Merger les datasets entre eux

In [10]:
gaming_mid=pd.merge(df_google, df_wiki, on=["Name", "Platform", "Year", "Genre", "Publisher", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"], how='outer')

In [11]:
gaming_mid2=pd.merge(gaming_mid, df_meta, on=["Name", "Platform", "Year", "Genre", "Publisher", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"], how='outer')

In [12]:
gaming_mid3=pd.merge(gaming_mid2, df_metagames, on=["Name", "Platform", "Year", "Genre", "Publisher", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"], how='outer')

In [13]:
gaming_total=pd.merge(gaming_mid3, df_JVC, on=["Name", "Platform", "Year", "Genre", "Publisher", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"], how='outer')

In [14]:
gaming_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16631 entries, 0 to 16630
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    16631 non-null  object
 1   Platform                16631 non-null  object
 2   Year                    16358 non-null  float64
 3   Genre                   16631 non-null  object
 4   Publisher               16573 non-null  object
 5   NA_Sales                16631 non-null  float64
 6   EU_Sales                16631 non-null  float64
 7   JP_Sales                16631 non-null  float64
 8   Other_Sales             16631 non-null  float64
 9   Global_Sales            16631 non-null  float64
 10  developpeur_goo         1500 non-null   object
 11  distributeur_goo        14 non-null     object
 12  langue_goo              75 non-null     object
 13  PEGI_goo                503 non-null    object
 14  game_series_goo         524 non-null    object
 15  game_mode_goo           845 non-null    object
 16  developpeur_wiki        3095 non-null   object
 17  langue_wiki             1436 non-null   object
 18  PEGI_wiki               1085 non-null   object
 19  game_mode_wiki          2837 non-null   object
 20  Meta_NP                 10835 non-null  float64
 21  Meta_VP                 10865 non-null  float64
 22  Meta_NUsers             9961 non-null   float64
 23  Meta_VUsers             9961 non-null   float64
 24  summary                 5191 non-null   object
 25  meta_score              5194 non-null   float64
 26  user_review             5194 non-null   object
 27  Rank                    5194 non-null   float64
 28  test_note_JVC           13902 non-null  object
 29  avis_count_JVC          13902 non-null  object
 30  avis_note_JVC           13902 non-null  object
 31  Classification_Age_JVC  7111 non-null   object
 32  max_joueurs_JVC         4179 non-null   object
 33  Mode_JVC                3933 non-null   object
 34  Support_JVC             7369 non-null   object
 35  Langue_JVC              4618 non-null   object
dtypes: float64(12), object(24)
memory usage: 4.7+ MB

In [15]:
gaming_total.drop_duplicates(keep = 'first', inplace=True)

In [16]:
gaming_total.shape

(16628, 36)

In [17]:
gaming_total.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,...,user_review,Rank,test_note_JVC,avis_count_JVC,avis_note_JVC,Classification_Age_JVC,max_joueurs_JVC,Mode_JVC,Support_JVC,Langue_JVC
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,...,8.1,1.0,14,(687),13.8,+7 ans\r,Jusqu'à 4 joueurs\r,NaN,DVD\r,Voix en français Textes en français
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,...,NaN,NaN,19,(3),19,+3 ans\r,NaN,Jouable en solo\r,eShop Console Virtuelle Cartouche\r,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,...,8.4,3.0,16,(3023),17.4,+3 ans\r,"4 joueurs en écran partagé, 12 joueurs online\r",Multi sur le même écran Multi en ligne\r,DVD\r,NaN
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,...,8.2,4.0,15,(581),16.5,+3 ans\r,Jusqu'à 4 joueurs\r,NaN,DVD\r,Voix en français Textes en français\r
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,...,NaN,NaN,no_data,no_data,no_data,NaN,NaN,NaN,NaN,NaN

In [18]:
gaming_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16628 entries, 0 to 16630
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    16628 non-null  object
 1   Platform                16628 non-null  object
 2   Year                    16358 non-null  float64
 3   Genre                   16628 non-null  object
 4   Publisher               16570 non-null  object
 5   NA_Sales                16628 non-null  float64
 6   EU_Sales                16628 non-null  float64
 7   JP_Sales                16628 non-null  float64
 8   Other_Sales             16628 non-null  float64
 9   Global_Sales            16628 non-null  float64
 10  developpeur_goo         1500 non-null   object
 11  distributeur_goo        14 non-null     object
 12  langue_goo              75 non-null     object
 13  PEGI_goo                503 non-null    object
 14  game_series_goo         524 non-null    object
 15  game_mode_goo           845 non-null    object
 16  developpeur_wiki        3095 non-null   object
 17  langue_wiki             1436 non-null   object
 18  PEGI_wiki               1085 non-null   object
 19  game_mode_wiki          2837 non-null   object
 20  Meta_NP                 10832 non-null  float64
 21  Meta_VP                 10862 non-null  float64
 22  Meta_NUsers             9958 non-null   float64
 23  Meta_VUsers             9958 non-null   float64
 24  summary                 5191 non-null   object
 25  meta_score              5194 non-null   float64
 26  user_review             5194 non-null   object
 27  Rank                    5194 non-null   float64
 28  test_note_JVC           13899 non-null  object
 29  avis_count_JVC          13899 non-null  object
 30  avis_note_JVC           13899 non-null  object
 31  Classification_Age_JVC  7111 non-null   object
 32  max_joueurs_JVC         4179 non-null   object
 33  Mode_JVC                3933 non-null   object
 34  Support_JVC             7369 non-null   object
 35  Langue_JVC              4618 non-null   object
dtypes: float64(12), object(24)
memory usage: 4.7+ MB

## Création du DF complet au format csv

In [19]:
gaming_total.to_csv('gaming_total.csv')