# Création dataset JeuxVideo.com

## Importer les librairies et le DF

In [1]:
import pandas as pd
import re

In [2]:
df_JV1=pd.read_csv('gaming_JVC_1.csv')
df_JV2=pd.read_csv('gaming_JVC_2.csv')
df_JV3=pd.read_csv('gaming_JVC_3.csv')
df_JV3bis=pd.read_csv('gaming_JVC_3bis.csv')
df_JV4=pd.read_csv('gaming_JVC_4.csv')
df_JV4bis=pd.read_csv('gaming_JVC_4bis.csv')
df_JV5=pd.read_csv('gaming_JVC_5.csv')
df_JV5bis=pd.read_csv('gaming_JVC_5bis.csv')
df_JV6=pd.read_csv('gaming_JVC_6.csv')
df_JV7=pd.read_csv('gaming_JVC_7.csv')
df_JV8=pd.read_csv('gaming_JVC_8.csv')
df_JV8bis=pd.read_csv('gaming_JVC_8bis.csv')
df_JV9=pd.read_csv('gaming_JVC_9.csv')
df_JV10=pd.read_csv('gaming_JVC_10.csv')
df_JV11=pd.read_csv('gaming_JVC_11.csv')
df_JV12=pd.read_csv('gaming_JVC_12.csv')
df_JV12bis=pd.read_csv('gaming_JVC_12bis.csv')
df_JV13=pd.read_csv('gaming_JVC_13.csv')
df_JV14=pd.read_csv('gaming_JVC_14.csv')
df_JV15=pd.read_csv('gaming_JVC_15.csv')
df_JV16=pd.read_csv('gaming_JVC_16.csv')

### Obtenir l'info complète du DF

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

## Merger les DF

In [4]:
df_JV1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038 entries, 0 to 1037
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             1038 non-null   int64
 1   Name             1038 non-null   object
 2   Platform         1038 non-null   object
 3   Year             1028 non-null   float64
 4   Genre            1038 non-null   object
 5   Publisher        1037 non-null   object
 6   NA_Sales         1038 non-null   float64
 7   EU_Sales         1038 non-null   float64
 8   JP_Sales         1038 non-null   float64
 9   Other_Sales      1038 non-null   float64
 10  Global_Sales     1038 non-null   float64
 11  test_note_JVC    1036 non-null   object
 12  avis_count_JVC   1036 non-null   object
 13  avis_note_JVC    1036 non-null   object
 14  description_JVC  1034 non-null   object
dtypes: float64(6), int64(1), object(8)
memory usage: 121.8+ KB

In [5]:
df_JV_tot=pd.concat([df_JV1, df_JV2, df_JV3, df_JV3bis, df_JV4, df_JV4bis,
                     df_JV5, df_JV5bis, df_JV6, df_JV7, df_JV8, df_JV8bis,
                     df_JV9, df_JV10, df_JV11, df_JV12, df_JV12bis, df_JV13,
                     df_JV14, df_JV15, df_JV16])
df_JV_tot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19317 entries, 0 to 1036
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             19317 non-null  int64
 1   Name             19317 non-null  object
 2   Platform         19317 non-null  object
 3   Year             19015 non-null  float64
 4   Genre            19317 non-null  object
 5   Publisher        19253 non-null  object
 6   NA_Sales         19317 non-null  float64
 7   EU_Sales         19317 non-null  float64
 8   JP_Sales         19317 non-null  float64
 9   Other_Sales      19317 non-null  float64
 10  Global_Sales     19317 non-null  float64
 11  test_note_JVC    16597 non-null  object
 12  avis_count_JVC   16597 non-null  object
 13  avis_note_JVC    16597 non-null  object
 14  description_JVC  16574 non-null  object
dtypes: float64(6), int64(1), object(8)
memory usage: 2.4+ MB

In [6]:
df_JV_tot=df_JV_tot.drop_duplicates(subset=["Name", "Platform", "Year"], keep="first")
df_JV_tot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16596 entries, 0 to 1036
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             16596 non-null  int64
 1   Name             16596 non-null  object
 2   Platform         16596 non-null  object
 3   Year             16326 non-null  float64
 4   Genre            16596 non-null  object
 5   Publisher        16538 non-null  object
 6   NA_Sales         16596 non-null  float64
 7   EU_Sales         16596 non-null  float64
 8   JP_Sales         16596 non-null  float64
 9   Other_Sales      16596 non-null  float64
 10  Global_Sales     16596 non-null  float64
 11  test_note_JVC    13876 non-null  object
 12  avis_count_JVC   13876 non-null  object
 13  avis_note_JVC    13876 non-null  object
 14  description_JVC  13856 non-null  object
dtypes: float64(6), int64(1), object(8)
memory usage: 2.0+ MB

## Extraire les infos utiles de la colonne description

In [7]:
try:
    df_JV_tot['Classification_Age_JVC'] = df_JV_tot['description_JVC'].str.extract(r'Classification\s+(.*)\n')
    
except:
    df_JV_tot['Classification_Age_JVC']='no_data'
try:    
    df_JV_tot['max_joueurs_JVC'] = df_JV_tot['description_JVC'].str.extract('Nombre maximum de joueurs\s+([^\n]+)\n')
except:
    df_JV_tot['max_joueurs_JVC']='no_data'
try:
    df_JV_tot['Mode_JVC'] = df_JV_tot['description_JVC'].str.extract(r'Mode\(s\)\s+(.*)\n')
except:
    df_JV_tot['Mode_JVC'] =='no_data'
try:
    df_JV_tot['Support_JVC'] = df_JV_tot['description_JVC'].str.extract(r'Support\(s\)\s+(.*)\n')
except:
    df_JV_tot['Support_JVC'] ='no_data'
try:
    df_JV_tot['Langue_JVC'] = df_JV_tot['description_JVC'].str.split('Langue de la version disponible en France ', n=1, expand=True)[1].str.split('\n', n=1, expand=True)[0]
except:
    df_JV_tot['Langue_JVC'] ='no_data'
    
df_JV_tot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16596 entries, 0 to 1036
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    16596 non-null  int64
 1   Name                    16596 non-null  object
 2   Platform                16596 non-null  object
 3   Year                    16326 non-null  float64
 4   Genre                   16596 non-null  object
 5   Publisher               16538 non-null  object
 6   NA_Sales                16596 non-null  float64
 7   EU_Sales                16596 non-null  float64
 8   JP_Sales                16596 non-null  float64
 9   Other_Sales             16596 non-null  float64
 10  Global_Sales            16596 non-null  float64
 11  test_note_JVC           13876 non-null  object
 12  avis_count_JVC          13876 non-null  object
 13  avis_note_JVC           13876 non-null  object
 14  description_JVC         13856 non-null  object
 15  Classification_Age_JVC  7091 non-null   object
 16  max_joueurs_JVC         4168 non-null   object
 17  Mode_JVC                3922 non-null   object
 18  Support_JVC             7351 non-null   object
 19  Langue_JVC              4601 non-null   object
dtypes: float64(6), int64(1), object(13)
memory usage: 2.7+ MB

## Créer un fichier csv du nouveau DF

In [ ]:
df_JV_tot.to_csv('gaming_JV_OK.csv')