# Création dataset JeuxVideo.com

## Importer les librairies et le DF

In [1]:
import pandas as pd
import re

In [2]:
df_JV1=pd.read_csv('gaming_JVC_1.csv')
df_JV2=pd.read_csv('gaming_JVC_2.csv')
df_JV3=pd.read_csv('gaming_JVC_3.csv')
df_JV3bis=pd.read_csv('gaming_JVC_3bis.csv')
df_JV4=pd.read_csv('gaming_JVC_4.csv')
df_JV4bis=pd.read_csv('gaming_JVC_4bis.csv')
df_JV5=pd.read_csv('gaming_JVC_5.csv')
df_JV5bis=pd.read_csv('gaming_JVC_5bis.csv')
df_JV6=pd.read_csv('gaming_JVC_6.csv')
#df_JV7=pd.read_csv('gaming_JVC_7.csv')
df_JV8=pd.read_csv('gaming_JVC_8.csv')
#df_JV8bis=pd.read_csv('gaming_JVC_8bis.csv')
#df_JV9=pd.read_csv('gaming_JVC_9.csv')
#df_JV10=pd.read_csv('gaming_JVC_10.csv')

### Obtenir l'info complète du DF

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

## Merger les DF

In [4]:
df_JV1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038 entries, 0 to 1037
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             1038 non-null   int64
 1   Name             1038 non-null   object
 2   Platform         1038 non-null   object
 3   Year             1028 non-null   float64
 4   Genre            1038 non-null   object
 5   Publisher        1037 non-null   object
 6   NA_Sales         1038 non-null   float64
 7   EU_Sales         1038 non-null   float64
 8   JP_Sales         1038 non-null   float64
 9   Other_Sales      1038 non-null   float64
 10  Global_Sales     1038 non-null   float64
 11  test_note_JVC    1036 non-null   object
 12  avis_count_JVC   1036 non-null   object
 13  avis_note_JVC    1036 non-null   object
 14  description_JVC  1034 non-null   object
dtypes: float64(6), int64(1), object(8)
memory usage: 121.8+ KB

In [5]:
df_JV_tot=pd.concat([df_JV1, df_JV2, df_JV3, df_JV3bis, df_JV4, df_JV4bis, df_JV5, df_JV5bis, df_JV6, df_JV8])
df_JV_tot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 1036
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             9072 non-null   int64
 1   Name             9072 non-null   object
 2   Platform         9072 non-null   object
 3   Year             8941 non-null   float64
 4   Genre            9072 non-null   object
 5   Publisher        9053 non-null   object
 6   NA_Sales         9072 non-null   float64
 7   EU_Sales         9072 non-null   float64
 8   JP_Sales         9072 non-null   float64
 9   Other_Sales      9072 non-null   float64
 10  Global_Sales     9072 non-null   float64
 11  test_note_JVC    6418 non-null   object
 12  avis_count_JVC   6418 non-null   object
 13  avis_note_JVC    6418 non-null   object
 14  description_JVC  6411 non-null   object
dtypes: float64(6), int64(1), object(8)
memory usage: 1.1+ MB

In [6]:
df_JV_tot.sample(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,test_note_JVC,avis_count_JVC,avis_note_JVC,description_JVC
775,1815,Yakuza 3,PS3,2009.0,Action,Sega,0.21,0.21,0.62,0.08,1.13,14,(104),16.3,Editeur(s) / Développeur(s) Sega\nSortie France 12 mars 2010\nGenre(s) Action\nClassification +18 ans\nMode(s) Jouable en solo\nNombre maximum de joueurs non\nWeb Site officiel\nSupport(s) Blu-Ray\nDate de sortie (au Japon) 26 février 2009\nLangue de la version disponible en France Textes en anglais Voix en japonais
240,7507,Trade & Battle: Card Hero,GB,2000.0,Strategy,Nintendo,0.00,0.00,0.20,0.00,0.20,NaN,NaN,NaN,NaN
244,7511,NBA Live 15,XOne,2014.0,Sports,Electronic Arts,0.17,0.02,0.00,0.02,0.20,NaN,NaN,NaN,NaN

In [7]:
#df_JV_tot=df_JV_tot.drop(['Rank', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'], axis=1)

## Extraire les infos utiles de la colonne description

In [8]:
try:
    df_JV_tot['Classification_Age_JVC'] = df_JV_tot['description_JVC'].str.extract(r'Classification\s+(.*)\n')
    
except:
    df_JV_tot['Classification_Age_JVC']='no_data'
try:    
    df_JV_tot['max_joueurs_JVC'] = df_JV_tot['description_JVC'].str.extract('Nombre maximum de joueurs\s+([^\n]+)\n')
except:
    df_JV_tot['max_joueurs_JVC']='no_data'
try:
    df_JV_tot['Mode_JVC'] = df_JV_tot['description_JVC'].str.extract(r'Mode\(s\)\s+(.*)\n')
except:
    df_JV_tot['Mode_JVC'] =='no_data'
try:
    df_JV_tot['Support_JVC'] = df_JV_tot['description_JVC'].str.extract(r'Support\(s\)\s+(.*)\n')
except:
    df_JV_tot['Support_JVC'] ='no_data'
try:
    df_JV_tot['Langue_JVC'] = df_JV_tot['description_JVC'].str.split('Langue de la version disponible en France ', n=1, expand=True)[1].str.split('\n', n=1, expand=True)[0]
except:
    df_JV_tot['Langue_JVC'] ='no_data'
    
df_JV_tot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 1036
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    9072 non-null   int64
 1   Name                    9072 non-null   object
 2   Platform                9072 non-null   object
 3   Year                    8941 non-null   float64
 4   Genre                   9072 non-null   object
 5   Publisher               9053 non-null   object
 6   NA_Sales                9072 non-null   float64
 7   EU_Sales                9072 non-null   float64
 8   JP_Sales                9072 non-null   float64
 9   Other_Sales             9072 non-null   float64
 10  Global_Sales            9072 non-null   float64
 11  test_note_JVC           6418 non-null   object
 12  avis_count_JVC          6418 non-null   object
 13  avis_note_JVC           6418 non-null   object
 14  description_JVC         6411 non-null   object
 15  Classification_Age_JVC  4139 non-null   object
 16  max_joueurs_JVC         2436 non-null   object
 17  Mode_JVC                2450 non-null   object
 18  Support_JVC             4030 non-null   object
 19  Langue_JVC              2866 non-null   object
dtypes: float64(6), int64(1), object(13)
memory usage: 1.5+ MB

## Créer un fichier csv du nouveau DF

In [ ]:
df_JV_tot.to_csv('gaming_JV_OK.csv')