# Création du dataset global

## Importer les librairies

In [1]:
import pandas as pd

### Obtenir l'info complète du DF

In [2]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_colwidth', None)

## Importer les différents DF

In [3]:
df_wiki=pd.read_csv('gaming_wiki_OK.csv')
df_google=pd.read_csv('gaming_goo_OK.csv')
df_JVC=pd.read_csv('gaming_JV_OK.csv')

In [4]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16596 entries, 0 to 16595
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          16596 non-null  int64
 1   Name                16596 non-null  object
 2   Platform            16596 non-null  object
 3   Year                16326 non-null  float64
 4   Genre               16596 non-null  object
 5   Publisher           16538 non-null  object
 6   NA_Sales            16596 non-null  float64
 7   EU_Sales            16596 non-null  float64
 8   JP_Sales            16596 non-null  float64
 9   Other_Sales         16596 non-null  float64
 10  Global_Sales        16596 non-null  float64
 11  description_google  16582 non-null  object
 12  developpeur_goo     1497 non-null   object
 13  distributeur_goo    14 non-null     object
 14  langue_goo          75 non-null     object
 15  PEGI_goo            503 non-null    object
 16  game_series_goo     523 non-null    object
 17  game_mode_goo       844 non-null    object
dtypes: float64(6), int64(1), object(11)
memory usage: 2.3+ MB

In [5]:
df_JVC=df_JVC.drop(['Unnamed: 0'], axis=1)

In [6]:
df_wiki=df_wiki.drop(['Unnamed: 0','description_wiki'], axis=1)

In [7]:
df_google=df_google.drop(['Unnamed: 0','description_google'], axis=1)

## Merger les datasets entre eux

In [8]:
gaming_mid=pd.merge(df_google, df_wiki, on=["Name", "Platform", "Year", "Genre", "Publisher", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"])

In [9]:
gaming_total=pd.merge(gaming_mid, df_JVC, on=["Name", "Platform", "Year", "Genre", "Publisher", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"])

In [10]:
gaming_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16472 entries, 0 to 16471
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    16472 non-null  object
 1   Platform                16472 non-null  object
 2   Year                    16201 non-null  float64
 3   Genre                   16472 non-null  object
 4   Publisher               16414 non-null  object
 5   NA_Sales                16472 non-null  float64
 6   EU_Sales                16472 non-null  float64
 7   JP_Sales                16472 non-null  float64
 8   Other_Sales             16472 non-null  float64
 9   Global_Sales            16472 non-null  float64
 10  developpeur_goo         1487 non-null   object
 11  distributeur_goo        14 non-null     object
 12  langue_goo              73 non-null     object
 13  PEGI_goo                501 non-null    object
 14  game_series_goo         511 non-null    object
 15  game_mode_goo           839 non-null    object
 16  Rank_x                  16472 non-null  int64
 17  developpeur_wiki        3085 non-null   object
 18  langue_wiki             1432 non-null   object
 19  PEGI_wiki               1081 non-null   object
 20  game_mode_wiki          2828 non-null   object
 21  Rank_y                  16472 non-null  int64
 22  test_note_JVC           13771 non-null  object
 23  avis_count_JVC          13771 non-null  object
 24  avis_note_JVC           13771 non-null  object
 25  description_JVC         13751 non-null  object
 26  Classification_Age_JVC  7014 non-null   object
 27  max_joueurs_JVC         4119 non-null   object
 28  Mode_JVC                3878 non-null   object
 29  Support_JVC             7281 non-null   object
 30  Langue_JVC              4552 non-null   object
dtypes: float64(6), int64(2), object(23)
memory usage: 4.0+ MB

In [11]:
gaming_total.drop_duplicates(keep = 'first', inplace=True)

In [12]:
gaming_total.shape

(16472, 31)

In [13]:
gaming_total.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,...,Rank_y,test_note_JVC,avis_count_JVC,avis_note_JVC,description_JVC,Classification_Age_JVC,max_joueurs_JVC,Mode_JVC,Support_JVC,Langue_JVC
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,...,1,14,(687),13.8,Editeur(s) / Développeur(s) Nintendo\nSortie F...,+7 ans,Jusqu'à 4 joueurs,NaN,DVD,Voix en français Textes en français
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,...,2,19,(3),19,Editeur(s) / Développeur(s) Nintendo\nSortie F...,+3 ans,NaN,Jouable en solo,eShop Console Virtuelle Cartouche,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,...,3,16,(3023),17.4,Editeur(s) / Développeur(s) Nintendo\nSortie F...,+3 ans,"4 joueurs en écran partagé, 12 joueurs online",Multi sur le même écran Multi en ligne,DVD,NaN
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,...,4,15,(581),16.5,Editeur(s) / Développeur(s) Nintendo\nSortie F...,+3 ans,Jusqu'à 4 joueurs,NaN,DVD,Voix en français Textes en français
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,...,5,no_data,no_data,no_data,no_data,NaN,NaN,NaN,NaN,NaN

In [14]:
gaming_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16472 entries, 0 to 16471
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    16472 non-null  object
 1   Platform                16472 non-null  object
 2   Year                    16201 non-null  float64
 3   Genre                   16472 non-null  object
 4   Publisher               16414 non-null  object
 5   NA_Sales                16472 non-null  float64
 6   EU_Sales                16472 non-null  float64
 7   JP_Sales                16472 non-null  float64
 8   Other_Sales             16472 non-null  float64
 9   Global_Sales            16472 non-null  float64
 10  developpeur_goo         1487 non-null   object
 11  distributeur_goo        14 non-null     object
 12  langue_goo              73 non-null     object
 13  PEGI_goo                501 non-null    object
 14  game_series_goo         511 non-null    object
 15  game_mode_goo           839 non-null    object
 16  Rank_x                  16472 non-null  int64
 17  developpeur_wiki        3085 non-null   object
 18  langue_wiki             1432 non-null   object
 19  PEGI_wiki               1081 non-null   object
 20  game_mode_wiki          2828 non-null   object
 21  Rank_y                  16472 non-null  int64
 22  test_note_JVC           13771 non-null  object
 23  avis_count_JVC          13771 non-null  object
 24  avis_note_JVC           13771 non-null  object
 25  description_JVC         13751 non-null  object
 26  Classification_Age_JVC  7014 non-null   object
 27  max_joueurs_JVC         4119 non-null   object
 28  Mode_JVC                3878 non-null   object
 29  Support_JVC             7281 non-null   object
 30  Langue_JVC              4552 non-null   object
dtypes: float64(6), int64(2), object(23)
memory usage: 4.0+ MB

## Création du DF complet au format csv

In [15]:
gaming_total.to_csv('gaming_total.csv')